In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
df =pd.read_csv(r"C:\ML\test_scores.csv")
df
def gradient_descent(x,y):
    m_curr=b_curr=0
    iterations=10
    n=len(x)
    learning_rate=0.05
    for i in range(iterations):
        y_predicted=m_curr*x+b_curr
        cost=(1/n)*sum([val**2 for val in(y-y_predicted)])
        md=-(2/n)*sum(x*(y-y_predicted))
        bd=-(2/n)*sum(y-y_predicted)
        m_curr=m_curr-learning_rate*md
        b_curr=b_curr-learning_rate*bd
        print("m{},b{},cost{} iterations{}".format(m_curr,b_curr,cost,i))
        
x=np.array([1,2,3,4,5])
y=np.array([5,7,9,11,13])
gradient_descent(x,y)
plt.show()

m3.1,b0.9,cost89.0 iterations0
m2.52,b0.78,cost3.8599999999999994 iterations1
m2.6140000000000003,b0.8460000000000001,cost0.9763999999999999 iterations2
m2.5848,b0.8772,cost0.8513360000000004 iterations3
m2.57836,b0.91404,cost0.81970064 iterations4
m2.567952,b0.949128,cost0.7921173536 iterations5
m2.5584664,b0.9838296,cost0.7655590528640001 iterations6
m2.54900448,b1.01790672,cost0.7398944506073604 iterations7
m2.539727536,b1.0514147040000001,cost0.7150903372945663 iterations8
m2.5306028352,b1.0843549728000001,cost0.6911177570948888 iterations9

In [6]:
df =pd.read_csv(r"C:\ML\test_scores.csv")
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [11]:
import pandas as pd
import numpy as np

# Load dataset
df = pd.read_csv("test_scores.csv")

# Independent and dependent variables
x = df['math'].values
y = df['cs'].values

def gradient_descent(x, y):
    m_curr = 0
    b_curr = 0
    iterations = 1000
    n = len(x)
    learning_rate = 0.0002

    for i in range(iterations):
        y_predicted = m_curr * x + b_curr

        cost = (1/n) * np.sum((y - y_predicted) ** 2)

        md = -(2/n) * np.sum(x * (y - y_predicted))
        bd = -(2/n) * np.sum(y - y_predicted)

        m_curr = m_curr - learning_rate * md
        b_curr = b_curr - learning_rate * bd

        if i % 100 == 0:
            print(f"Iteration {i}: m={m_curr:.4f}, b={b_curr:.4f}, cost={cost:.4f}")

    return m_curr, b_curr

# Run gradient descent
m, b = gradient_descent(x, y)

print("\nFinal values:")
print("Slope (m):", m)
print("Intercept (b):", b)

Iteration 0: m=1.9784, b=0.0280, cost=5199.1000
Iteration 100: m=1.0445, b=0.0191, cost=31.8109
Iteration 200: m=1.0444, b=0.0235, cost=31.8100
Iteration 300: m=1.0444, b=0.0278, cost=31.8090
Iteration 400: m=1.0443, b=0.0322, cost=31.8081
Iteration 500: m=1.0442, b=0.0365, cost=31.8071
Iteration 600: m=1.0442, b=0.0408, cost=31.8062
Iteration 700: m=1.0441, b=0.0451, cost=31.8053
Iteration 800: m=1.0441, b=0.0494, cost=31.8044
Iteration 900: m=1.0440, b=0.0536, cost=31.8035

Final values:
Slope (m): 1.0439449783485493
Intercept (b): 0.05787390325428987